[Unit]
Description=Periodically synchronize CDN control TLS source material

[Timer]
OnBootSec=2m
OnUnitActiveSec=15m
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
